*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #fff;
    border: none;
}
body{
    background-image: url('../assets/roxo.png');
    background-size: cover;
}
form{
        margin-top: 30px;
        margin-bottom: 40px;
}

textarea:focus, input:focus{
    outline: none;
}
a, label{
    font-size: 1rem;
    color: #fff;
    font-family: Arial;
    
}
a:hover{ 
    color: #674188;
}
/*container-login*/
#container-login{
    background-color: black;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}
label, input{
    display: block;
    width: 100%;
    text-align: left;
}
label{
    font-weight: bold;
}
input{
    border-bottom: 2px solid #fff;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}
input:focus{
    border-bottom: 2px solid #A91079;
}
#senha-esquecida{
    text-align: right;
    display:block
}
input[type="submit"]{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border:none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #674188;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: #F806CC;
    transition: .5s;
}
/*redes sociais*/
#container-social,#container-social p{
    margin-bottom: 20px;
}
#container-social i{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    color: #fff;
    margin: 0 5px;
}
.fa-facebook-f{
    background-color: #3b5998;
    
}
.fa-instagram{
    background: linear-gradient( 45deg, #f58529, #feda77, #dd2a7b, #8134af, #515bd4);
}
/*registrar*/
#container-registro p{
    margin-bottom: 10px;
}